---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="title for article"> <!--dont forget to change! -->
    <script src="../../components/oneko.js"></script>

        <main>
            <h1>
                <!--title or whatever -->
            </h1>
            <h2><a href="https://moonlitautumn.github.io/webbb/blog">Return to articles</a></h2>

            

        </main>

</Layout>