---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="derealization?"> <!--dont forget to change! -->
    <script src="../../components/oneko.js"></script>

        <main>
            <h1>
                reality doesnt feel real
            </h1>
            <h2><a href="https://moonlitautumn.github.io/webbb/blog">Return to articles</a></h2>

            <p>
                    i dont know how to describe this in a way that doesnt make me sound insane but for the past few days 
                nothing has felt real anymore, i feel as if ive been trapped in some vr game and just forgot 
                what exists beyond it. ugh i wish i could just exist digitally and not have to deal with society.
            
                    like imagine just living inside of your own private immaterial reality and not have people constantly
                judging you or expecting things from you..
                
                    to me that honestly sounds like heaven.
            </p>
            <span style="color: var(--overlay1)">
                <p>
                    (note: im not feeling suicidal, this is something diferent)
                </p>
            </span>
            
        </main>

</Layout>