---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="scared"> <!--dont forget to change! -->
    <script src="../../components/oneko.js"></script>

        <main>
            <h1>
                im deathly scared of change
            </h1>
            <h2><a href="https://moonlitautumn.github.io/webbb/blog">Return to articles</a></h2>

            <p>
                and i wish things could stay the same but thats impossible,
                people change, things change, EVERYTHING changes eventually 
                and tbh thats not a bad thing at all
            </p>
            <p>
                the scary thing is how unpredictable it is
            </p>
            

        </main>

</Layout>