---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="beauty standards"> <!--dont forget to change! -->
    <script src="../../components/oneko.js"></script>

        <main>
            <h1>
                How girls are treated in a patriarchal society
            </h1>
            <h2><a href="https://moonlitautumn.github.io/webbb/blog">Return to articles</a></h2>
            <p>
                <span style="color: var(--accent)">
                    Disclamer
                </span>
                <span style="color: var(--overlay1)">
                    im mostly writing this as a way to vent some of my fristrations with modern society, this will 
                    be written in whatever way i feel most comfortable expressing myself and is not nescessarily 
                    meant to make sense or be easily readable, im sorry if this sounds offensive, tysm for understanding &lt;3 
                </span>
            </p>
            <p>
                as we all know modern beauty standards are hell, expecially for girls and women all around the world, 
                unlike men that are expected to be bulky and to be quite honest gross, we are forced to conform to 
                standards that a lot of the time are unrealistic, unhealthy or outright impossible; women are told to 
                lose weight, have an 100% clear face, to have a perfect body that somehow conforms to whatever standards 
                are being set by men at that specific time period, and in some cultures to be as white as possible. 
            </p>
            <p>
                but despite all that even if a girl breaks all those standards they are still a girl, if they have body hair 
                they are still a girl, if they have a deep voice they are still a girl, if they have short hair they are still a girl 
                if they have a traditionally "masculine" face they are still a girl, even if they have raging acne.. well unless 
                if youre trans, then you are expected to conform to all the beauty standards or be considered a faker, or even worse a creep.
            </p>
            <p>
                do you see the problem with this? society has been molded in a way to make it impossible to survive as an "amab" woman 
                and be seen as anything other than a "transwoman", the idea that gender is manifest in the flesh and the idea 
                that "amab" girls have to 100% conform to it while "afab" girls dont nescessarily have to in order to be seen as their gender 
                is extremely hypocritical and damaging to everybody. 
                <span style="color: var(--overlay1)">
                    (i dont mean to reduce from the way "afab" girls are treated by beaty standards, we are all in this together)
                </span>
            </p>
            <p>
                a lot of the time it is incredibly easy to see this sort of discourse shared in supposed trans circles, 
                the places where people are supposed to be free and express themselves ends up becoming a place that 
                reinforces the patriarchal and impossible gender/beauty standards that are imposed and hammered onto us
                since birth; because we are pressured to "pass" as if there was something to pass as. every single trans community has the 
                obligatory "passing tutorial" that pressures us to conform to societys patriarchal wants, im not saying those resources 
                and articles arent useful, its just that the focus that is given to passing is way too strong.
            </p>
            <p>
                ..i dont want to be seen as a ""transgirl"", i dont want to have the term "amab" as a permanent part of who i am, 
                my body is not male, it never was, it just happened to conform to societys standards of what a "male" is.. im a 
                girl in the purest sense of the word, because girls can have body hair, girls can have deep voices and girls can 
                have broad shoulders and girls can have traditionally masculine features. im tired of being forced to conform to 
                societys gender standards in order to be seen as who i am and im tired of being pressured to conform to beauty 
                standards that are impossible to achieve.
            </p>
            <p>
                to all the girls out there, you are a girl no matter what, no matter if youre body is "masculine", because girls can 
                have masculine bodies, no matter if your voice is deep because i know girls that have deep voices, no matter if you 
                have body hair because guess what? girls have that too, so tell your dysphoria to shut the fuck up because its the 
                voice of this patriarchal and destructive society neatly wrapped in your own mind. "cis girls" dont have to conform to the standards and 
                neither do you. &lt;3
            </p>
            <h2>
                YOU ARE VALID, BE YOURSELF &lt;3&lt;3 🤍🤍🌸🌸
            </h2>
        </main>

</Layout>