---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="broken friendship..."> <!--dont forget to change! -->
    <script src="../../components/oneko.js"></script>

        <main>
            <h1>
                NEW POST WOOOOO
            </h1>
            <h2><a href="https://moonlitautumn.github.io/webbb/blog">Return to articles</a></h2>

            <p>	
                Despite my friend telling me "blogs are boring" im going to start one anyways just to prove 
                him wrong! Idk if anybody will read this but tbh i dont care, this is for myself. Anyways if
                you are reading this thank you sm! &lt;3 &lt;3
            </p>

        </main>

</Layout>