---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="HAPPY BIRTHDAYY"> <!--dont forget to change! -->
    <script src="../../components/oneko.js"></script>

        <main>
            <h1>
                new fav song! (and a special message to a special someone!)
            </h1>
            <h2><a href="https://moonlitautumn.github.io/webbb/blog">Return to articles</a></h2>

            <p>	
                Idk how i didnt find it earlier BUT I LOVE IT SMMM honestly my fav song ever loll, if u wanna listen to it <a href="https://youtu.be/S3u9DHtnS4c">here</a> is the link! im sure you will love it, and if u decide to listen to it lmk what u think!
            </p>
            <p>
                Anyways if you are reading this jake i hope you have the best birthday everrr ilysmm! ^^&lt;3
            </p>

        </main>

</Layout>