---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="title for article"> <!--dont forget to change! -->
    <script src="../../components/oneko.js"></script>

        <main>
            <h1>
                AJGASGHDJASHFGDJASHGDJ
            </h1>
            <h2><a href="https://moonlitautumn.github.io/webbb/blog">Return to articles</a></h2>

            <p>
                i just spent like 20 hours over the course of TWO DAYS coding this website and now i have 
                to do homework for tomorrow aaaaaaaa
            </p>
            <p>
                (send help)
            </p>
        </main>

</Layout>