---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="blog!">
    <script src="../../components/oneko.js"></script>
    <main>
        <h1>
            My blog! <!--set blog as a subdirectory so it doesnt clutter up the main page and so i can add friend icons later -->
        </h1>
        <h2>
            <a href="https://moonlitautumn.github.io/webbb/">Return to main page</a>
        </h2>
        <p>
            This will be mostly comprised of random updates, some educational guides on anything i feel like yapping about 🤭🤭, and random sociology essays lol
        </p>

        <h2>
            Articles
        </h2>
        <!--blog 7! -->
        <div>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/blog/blog7">
                    12/10/2024 derealization
                </a>
            </h3>
        </div>


        <!--blog 6! -->
        <div>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/blog/blog6">
                    14/09/2024 im scared
                </a>
            </h3>
        </div>
        

        <!--blog 5! -->
        <div>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/blog/blog5">
                    3/09/2024 I BOUGHT SOMETHING
                </a>
            </h3>
        </div>

        <!--blog 4! -->
        <div>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/blog/blog4">
                    28/08/2024 patriarchy and society
                </a>
            </h3>
        </div>

        <!--blog 3! -->
        <div>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/blog/blog3">
                    25/08/2024 AJGASGHDJASHFGDJASHGDJ
                </a>
            </h3>
        </div>

        <!--blog 2! -->
        <div>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/blog/blog2">
                    20/08/2024 new fav song! (and a special message to a special someone!)
                </a>
            </h3>
        </div>
        
        <!--blog 1! -->
        <div>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/blog/blog1">
                    19/08/2024 NEW POST WOOOOO
                </a>
            </h3>
        </div>
        
        <!--
        <p style="color: var(--overlay1)">
            nothing here yet! come back later..
        </p>
        -->
    </main>   
</Layout>
