---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="blog!">
    <script src="../../components/oneko.js"></script>
    <main>
        <h1>
            My blog! <!--set blog as a subdirectory so it doesnt clutter up the main page and so i can add friend icons later -->
        </h1>
        <h2>
            <a href="https://moonlitautumn.github.io/webbb/">Return to main page</a>
        </h2>
        <p>
            This will be mostly comprised of random updates and some educational guides on anything i feel like yapping about 🤭🤭
        </p>

        <h3 style="padding-top: 2rem">
            Articles
        </h3>

        <!--blog 2! -->
        <div>
            <h3 style="padding-top: 2rem;">
                <a href="https://moonlitautumn.github.io/webbb/blog/blog2">
                    20/08/2024 new fav song! (and a special message to a special someone!)
                </a>
            </h3>
            <p>	
                Idk how i didnt find it earlier BUT I LOVE IT SMMM honestly my fav song ever loll, if u wanna listen to it <a href="https://youtu.be/S3u9DHtnS4c">here</a> is the link! im sure you will love it, and if u decide to listen to it lmk what u think!
            </p>
            <p>
                Anyways if you are reading this jake i hope you have the best birthday everrr ilysmm! ^^&lt;3
            </p>
        </div>
        
        <!--blog 1! -->
        <div>
            <h3 style="padding-top: 2rem;">
                <a href="https://moonlitautumn.github.io/webbb/blog/blog1">
                    19/08/2024 NEW POST WOOOOO
                </a>
            </h3>
            <p>	
                Despite my friend telling me "blogs are boring" im going to start one anyways just to prove 
                him wrong! Idk if anybody will read this but tbh i dont care, this is for myself. Anyways if
                you are reading this thank you sm! &lt;3 &lt;3
            </p>
        </div>
        
        <!--
        <p style="color: var(--overlay1)">
            nothing here yet! come back later..
        </p>
        -->
    </main>   
</Layout>
