---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="horimiya-ep1"> <!--dont forget to change! -->
    <script src="../../../components/oneko.js"></script>

        <main>
            <video width="500" height="500" controls>
                <source src="https://raw.githubusercontent.com/moonlitautumn/webbb/master/public/horimiya-ep1.webm" type="video/webm">
                <source src="https://raw.githubusercontent.com/moonlitautumn/webbb/master/public/horimiya-ep1.mp4" type="video/mp4">
            </video>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/anime/horimiya/ep2">next episode! &gt;</a>
            </h3>

            <h2>
                <a href="https://moonlitautumn.github.io/webbb">&lt; go back!</a>
            </h2>
        </main>

</Layout>