---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="sorryyyy"> <!--dont forget to change! -->
    <script src="../../../components/oneko.js"></script>

        <main>
            <h1>
                nothing here yet sorry!
            </h1>

            <h2>
                <a href="https://moonlitautumn.github.io/webbb">&lt; go back!</a>
            </h2>
        </main>

</Layout>