---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="title for article"> <!--dont forget to change! -->
    <script src="../../../components/oneko.js"></script>

        <main>
            <h1>
                horimiya!
            </h1>
            <h2><a href="https://moonlitautumn.github.io/webbb/anime">Return to articles</a></h2>

            <h3>
                <a href="https://moonlitautumn.github.io/webbb/anime/horimiya/ep1">
                    ep1
                </a>
            </h3>    

        </main>

</Layout>