---
import Layout from '../layouts/Layout.astro';
---

<Layout title="video of the week!"> <!--dont forget to change! -->
    <script src="../components/oneko.js"></script>

        <main>
            <h1>
                free thingys!
            </h1> 
            <h2>
                pirated stuff this witch has found in various places online, enjoy! &lt;3
            </h2>
            <h3>

                <a href="https://files.catbox.moe/wqqg0h.zip">
                    pico 8
                </a> 

            </h3>
            

            <h2>
                <a href="https://moonlitautumn.github.io/webbb">&lt; go back!</a>
            </h2>
        </main>

</Layout>