---
import Layout from '../layouts/Layout.astro';
---

<Layout title="blog!">
    <script src="../components/oneko.js"></script>
    <main>
        <h1>
            welcome to my blog!  . ݁₊ ⊹ . ݁˖ . ݁ <!--set blog as a subdirectory so it doesnt clutter up the main page and so i can add friend icons later -->
        </h1>
        <h2>
            <a href="https://moonlitautumn.github.io/webbb/">return to main page</a>
        </h2>
        <!--blog 2! -->
        <h3 style="padding-top: 2rem;">
            20/08/2024 new fav song! (and a special message to a special someone!)
        </h3>
        <p>	
            idk how i didnt find it earlier BUT I LOVE IT SMMM honestly my fav song ever loll, if u wanna listen to it <a href="https://youtu.be/S3u9DHtnS4c">here</a> is the link! im sure you will love it, and if u decide to listen to it lmk what u think!
        </p>
        <p>
            anyways if you are reading this jake i hope you have the best birthday everrr ilysmm! ^^&lt;3
        </p>
        <!--blog 1! -->
        <h3 style="padding-top: 2rem;">
            19/08/2024 NEW POST WOOOOO
        </h3>
        <p>	
            despite my friend telling me "blogs are boring" im going to start one anyways just to prove 
            him wrong! idk if anybody will read this but tbh i dont care, this is for myself. anyways if
            you are reading this thank you sm! &lt;3 &lt;3
        </p>
        <!--
        <p style="color: var(--overlay1)">
            nothing here yet! come back later..
        </p>
        -->
    </main>   
</Layout>

<style>
	hr.solid{
		border: 3px solid var(--accent);
		border-radius: 2px;
	}
	body {
		color: var(--text);
		background-color: var(--base);
		font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
		text-align: left;
		width: 70%;
  		display: flex;
		justify-content: center;
		max-width: 1920px;
		margin: auto;
	}
	main {
		margin: 0;
		padding: 1rem;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1rem;
	}
	h2 {
		font-size: 2.4rem;
		font-weight: 600;
	}
	p {
		color: var(--subtext1);
		font-size: 1.6rem;
		font-weight: 400;
	}
	header {
		margin: 0;
		padding: 1rem;
	}
	a {
		color: var(--accent);
		transition: text-decoration-color 1s ease, color 1s ease; <!-- transition color too! -->
		text-decoration-color: transparent;
		text-decoration: underline;
	}

	a:link, a:visited {
		text-decoration-color: transparent;
		color: var(--accent);
	}

	a:hover, a:active {
		text-decoration-color: var(--accent);
		color: var(--subtext1)
	}
	img.friends-img {
		height: 31px;
		width: 88px;
	}
	div.friends {
		display: flex;
		flex-wrap: wrap;
		gap: 1.25rem;
	}
</style>
