---
import Layout from '../layouts/Layout.astro';
---

<Layout title="why are you here?">
	
	<main>

		<h1>
            hiii
		</h1>
        <p>
            if you found this then you looked through the source or used dirb or smth, im impressed! <br>
            either way there is a reason you are looking for this, right? <br>
            maybe there is something you want to hear from me, something you want to tell me, or maybe you want to get some sense of closure.. <br>
        </p>
        <p>
            <a href="https://files.catbox.moe/nwcy0a.txt">click here</a> <br>
        </p>
	</main>
	

</Layout>