---
import Layout from '../layouts/Layout.astro';
---

<Layout title="YOU ARE VALID!">
	
	<main>

		<h1>
            <span style="color: var(--accent)"> YOU ARE VALID ASF ILYYYY &lt;3&lt;3&lt;3</span>
		</h1>
	</main>
	

</Layout>

<style>
	body {
		color: var(--text);
		background-color: var(--base);
		font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
		text-align: left;
		width: 100%;
  		display: flex;
		justify-content: center;

	}
	main {
		margin: 0;
		padding: 1rem;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1rem;
	}
	h2 {
		font-size: 2.4rem;
		font-weight: 600;
	}
	p {
		color: var(--subtext1);
		font-size: 1.6rem;
		font-weight: 400;
	}
	header {
		margin: 0;
		padding: 1rem;
	}
	a {
		color: var(--accent);
	}

	a:link, a:visited {
		text-decoration: none;
	}

	a:hover, a:active {
		text-decoration: underline;
	}
</style>
