---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="anime!">
    <script src="../../components/oneko.js"></script>
    <main>
        <h1>
            hiii 
        </h1>
        <h2>
            this is where i will post random anime i like for free! enjoy ^^
        </h2>
        <h2>
            <a href="https://moonlitautumn.github.io/webbb/">Return to main page</a>
        </h2>

        <div>
            <h3>
                <a href="https://moonlitautumn.github.io/webbb/anime/horimiya">
                    horimiya
                </a>
            </h3>
        </div>
        
    </main>   
</Layout>
